.main 
  .header
    %ul.header__list
      %li.header__list__name 
        = @group.name
      %li.header__list__member
        - @group.users.each do |group_user|
          = group_user.name
    .header__edit
      .header__edit__box
        = link_to edit_group_path(@group),class:"header__edit__box" do
          Edit
  .list
    = render @messages
  .form
    = form_for [@group,@message] do |f|
      .div
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'img-icon' do
          = icon('far','image')
          = f.file_field :image
      = f.submit 'Send', "data-disable-with": "送信中...", id: 'send-btn',class: 'send-btn'